  <div class="content">
  <h1>Burgers</h1>
  {{#each burgers}}
  	<div class="burger">
      {{this.id}}. {{this.burger_name}}
      {{#if devoured}}
      <br>Devoured
      {{else}}
      <br><button class="eat" data-id="{{this.id}}">Devour</button>
      {{/if}}
  	</div>
    <br>
  {{/each}}
</div>


<form class="create-form">
  <h2>Add a burger</h2>
  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="burger_name">
  </div>
  <button class="submit" type="submit">Add burger</button>
</form>