.gridContainer{
    display:  grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.content{
    grid-row: 1;
    grid-column: 1;
}

.create-form{
    grid-row: 1;
    grid-column: 2;   
    align-self: center;
}

.submit{
    margin-top: 1rem;
}
